body{
    margin: 0px;
    background-color: rgb(115, 99, 223);
}
.grid-container{
    margin: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:  15% 5% 10% 10% 10% 10% 10% 10% 10% 10%/ min(20%, 350px) 20% 20% 20% 1fr;
    grid-template-areas: 
        "dash search search search search"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane"
        "dash content-pane content-pane content-pane content-pane";
}
/*Dashboard Section*/
#dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: white;
    grid-area: dash;
    border-width: .02em;
    border-style: solid;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 3em;
    box-shadow: 1em 2em 2em rgb(27, 27, 74);
    position: relative;
    height: 99vh;
}
#dashboard > .dash-link{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 5%;
    font-size: 200%;
    color: black;
    text-decoration: none;
}
.dash-link > a{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.dash-link > a:visited{
    color: black;
}
.dash-link > a:hover{
    background-color:  rgb(115, 99, 223);
}
.link-spacer{
    width: 15%;
}
a > img{
    width: 15%;
}
#dashboard > h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 16.5%;
    font-size:250%;
}
h1 > img{
    width: 20%;
}
/*Searchbar Section*/
#searchbar{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-width: .02em;
    border-left-width: 0;
    border-style: solid;
    grid-area: search;
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
    position: relative;
}
.sb-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.sb-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60em;
    width: 40%;
    height: 100%;
    background-color: white;
}
.search a{
    width: 5%;
    margin-right: 2.5%;
}
.search a > img{
    width: 100%;
}
/*User display section of searchbar*/
.user-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40em;
    width: 40%;
    height: 100%;
}
.user-panel a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 75px;
    height: 100%;
}
.user-panel h1{
    font-size: 125%;
    width: 30%;
    text-align: center;
}
.user-panel .notify > img{
    width: 35%;
    height: 35%;
}
.user-panel .mask{
    width: 30%;
    height: 100%;
}
.user-panel .user{
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color:gainsboro;

    object-fit: cover;
}
/*Greeting and profile section of searchbar*/
.user{
    width: 4.75em;
    height: 4.75em;
    max-width:100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.01em;
    display: inline-block;
    background-color:gainsboro;

    object-fit: cover;
}
.user-control-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    max-width: 35em;
}
.greeting-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 2em;
}
.greet{
    margin:0;
    padding:0;
}
.s-input{
    width:75%;
    height: 30%;
    border-radius: 1em;
}
.user-panel{
    width: 40%;
    height: 100%;
}
/*User actions section of searchbar*/
.user-control-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    max-width: 35em;
    height: 100%;
}
.user-control-right button{
    text-align: center;
    width: 30%;
    height: 50%;
    font-size: 120%;
    background-color: darkslateblue;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 0.1em;
    border-radius: 30%;
}
.user-control-right button:hover{
    background-color: rgb(115, 99, 223);
    border-style: solid;
    color: white;
    border-color: white;
}
.user-control-right button:active{
    background-color:white;
    border-style: solid;
    color: darkslateblue;
    border-color: darkslateblue;
}
/*Content pane section*/
#content-pane{
    display: grid;
    background-color: rgb(115, 99, 223);
    grid-area: content-pane;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
    grid-template-areas:
        "pheader pheader pheader pheader pheader pheader pheader aheader aheader aheader"
        "proj proj proj proj proj proj proj announ announ announ"
        "proj proj proj proj proj proj proj announ announ announ"
        "proj proj proj proj proj proj proj announ announ announ"
        "proj proj proj proj proj proj proj announ announ announ"
        "proj proj proj proj proj proj proj theader theader theader"
        "proj proj proj proj proj proj proj trend trend trend"
        "proj proj proj proj proj proj proj trend trend trend"
        "proj proj proj proj proj proj proj trend trend trend"
        "proj proj proj proj proj proj proj trend trend trend";
}
/*Projects section*/
.pheader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: start;
    padding-left: 5%;
    grid-area: pheader;
}
.pheader h2{
    color: white;
    font-size: 180%;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding: 4%;
    padding-top: 0;
    gap: 4%;
    grid-area: proj;
}
.project{
    padding: 4%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    background-color: white;
    border-left-style: solid;
    border-radius: 4%;
    border-left-color: rgb(37, 37, 102);
    border-left-width: 0.6em;
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
    position: relative;
    max-width: 30em;
}
.project h3{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size:140%;
    height: 33%;
    width: 100%;
    margin: 0;
}
.project p{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 115%;
    height: 33%;
    width: 100%;
    margin: 0;
    margin-top: 1%;
    color:rgb(27, 27, 74);
}
.bottom-links{
    display: flex;
    justify-content: right;
    align-items: end;
    width: 100%;
    height: 33%;
}
.bottom-links div{
    display: flex;
    width:50%;
    height: 75%;
}
.bottom-links > div a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    width:33%;
    height: 75%;
}
.bottom-links > div a:hover{
    text-decoration: none;
    background-color: rgb(115, 99, 223);
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
}
.bottom-links > div a > img{
    width: 50%;
    height: 50%;
}
/*Announcements section*/
.aheader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: start;
    padding-left: 5%;
    grid-area: aheader;
}
.aheader  h2{
    color: white;
    font-size: 180%;
}
.announce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-left: 10%;
    grid-area: announ;
    background-color: white;
    border-style: solid;
    margin: 5%;
    margin-left: 0;
    margin-top: 0;
    border-radius: 5%;
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
    max-height: 22.5em;
    min-height: 20em;
    max-width: 19em;
    min-width: 19em;
}
.announcement{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: min(100%, 15em);
    height: min(33%, 5em);
    margin-bottom: 7%;
}
.announcement h3{
    margin: 0;
    font-size: min(120%, 1.15em);
    width: 100%;
}
.announcement p{
    margin-top: 1%;
    font-size: min(90%, 1em);
    color:rgb(27, 27, 74);
}
.announcement hr{
    margin: 0;
    width: 75%;
}
/*Trending Section*/
.theader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: start;
    padding-left: 5%;
    grid-area: theader;
}
.theader h2{
    color: white;
    font-size: 150%;
}
.trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-left: 10%;
    grid-area: trend;
    background-color: white;
    border-style: solid;
    margin: 9%;
    margin-left: 0;
    margin-top: 0;
    border-radius: 5%;
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
    max-height: 22.5em;
    min-height: 20em;
    max-width: 19em;
    min-width: 19em;
}
.trending a{
    width: 100%;
    text-decoration: none;
}
.trending a:visited{
    color: black;
}
.trending a:hover{
    background-color: rgb(115, 99, 223);
    box-shadow: .5em .75em .75em rgb(27, 27, 74);
}
.trend{
    margin-top: min(5%, 0.6em);
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
    max-height: 5em;
    width: 100%;
}
.trend > img{
    width: 4.5em;
    height: 4.5em;
}
.trend > .greeting-panel h3{
    margin-bottom: 0;
    margin-top: 0;
    font-size: min(120%, 1.1em);
    max-height: 2.2em;
}
.trend > .greeting-panel p{
    margin-bottom: 0;
    margin-top: 0;
    font-size: min(100%, 1em);
    max-height: 2.2em;
}